*{
	box-sizing: border-box;
	
}
.main{
	
 width: auto;
 height: 500px%;
 padding-top: 141.4286%;
 padding-bottom: 48px;
 box-shadow: 0 16px 20px 0 rgba(63,69,81,0.16);
 overflow: hidden;
 border-radius: 10px;
 
 border-radius: 10px;


    margin-right: 180px;
    margin-left: 180px;

}